@font-face {
    font-family: 'JosefinSans-Italic';
    src: url('JosefinSans-Italic.eot');
    src: url('JosefinSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Italic.woff2') format('woff2'),
        url('JosefinSans-Italic.woff') format('woff'),
        url('JosefinSans-Italic.ttf') format('truetype'),
        url('JosefinSans-Italic.svg#JosefinSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

