/* @DESKTOP-FIRST-STRATEGY

  > WARNING!
  > ORDER OF BREAKPOINTS MATTERS!

    [default]
    ...
    atXLarge
    atLarge
    atMedium
    atSmall

*/

::selection {
  /* background-color: var(--color-primary); */
  /* color: var(--color-white); */
}

body {
  color: $color-gray-dark-2;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  /* HELPER */
  /* & > * {
    padding: 40px;
    font-size: 3rem;
  } */
}
