/* @DESKTOP-FIRST-STRATEGY

  > WARNING!
  > ORDER OF BREAKPOINTS MATTERS!

    [default]
    ...
    atXLarge
    atLarge
    atMedium
    atSmall

*/

html {

  @map font-family primary;
  @map font-size atDefault;
  @map line-height atDefault;

  /* @mixin atXLarge {
    @map font-size atXLarge;
    @map line-height atXLarge;
    content: "atXLarge@desktop-first";
  } */

  /* @mixin atLarge {
    @map font-size atLarge;
    @map line-height atLarge;
    content: "atLarge@desktop-first";
  } */

  /* @mixin atMedium {
    @map font-size atMedium;
    @map line-height atMedium;
    content: "atMedium@desktop-first";
  } */

  /* @mixin atSmall {
    @map font-size atSmall;
    @map line-height atSmall;
    content: "atSmall@desktop-first";
  } */
}

%heading {
  @map font-family secondary;
  font-weight: bold;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: $color-gray-light-1;
  }

  &--dark {
    color: $color-gray-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-gray-light-1;
  }

  &--dark {
    color: $color-gray-dark-1;
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  @map font-family secondary;

  &:hover {
    background-color: $color-primary-dark;
  }
}

/* HELPERS */
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xl {
  margin-bottom: 8rem;
}
